//
   Created by Michael on 6/15/2014.
h1= title
p Login to SkipNode
p
    form(action='/login', method='post')
        div
            | Email :
            input(type="text", name="email")
        div
            | Password :
            input(type="text", name="password")
        div
            button(type="submit") Login
        div #{message}