extends layout

block content
    h1= title
    p Welcome to #{title}
    p
        button.buttonAddPlayer Add Player
        button.buttonStartGame Start Game
        button.buttonCreateGame Create Game
        a(href="/login") Login
        a(href="/signup") Sign Up
block scripts
    script(src="/javascripts/index.js")
